/* Reset CSS*/
* {
    margin: 0px;
    padding: 0px;
}
html, body {
    width: 1920px;
    height: 1080px;
}
/* Fonts */

@font-face {
    font-family: museo-sans-700;
    src: url('../fonts/Bryant/Bryant-BoldAlternate.otf');
}
@font-face {
    font-family: museo-sans-500;
    src: url('../fonts/Bryant/Bryant-BoldAlternate.otf');
}
@font-face {
    font-family: museo-sans-300;
    src: url('../fonts/Bryant/Bryant-BoldAlternate.otf');
}
@font-face {
    font-family: "Bryant";
    src: url('../fonts/Bryant/Bryant-BoldAlternate.otf');
}
/* Styling */

/* Header */
.header {
    height: 80px;
    width: 1920px;
    background-color: #393939;
    top: 0px;
    left: 0px;
}
.headerImage {
    height: 53px;
    width: 583px;
    margin-left: 40px;
    margin-top: 14px;
}

/* Page */
.content {
    height: 1000px;
    width: 1920px;
    background-color: #fff;
}

/* Main Showcase */
.showcase {
    left: 40px;
    top: 120px;
    height: 526px;
    width: 1384px;
    position: absolute;
    background-color: #680619;
}
.showcaseImg, .showcaseText {
    float: left;
}

/* Showcase Text */
.showcaseText {
    margin-left: 34px;
    margin-top: 60px;
}
.heading {
    color: #fff;
    position: absolute;
}
.heading1 {
    font: 52px museo-sans-500;
    top: 60px;
}
.heading2 {
    font: 30px museo-sans-500;
    top: 120px;
}
.heading3 {
    font: 23px museo-sans-500;
    top: 280px;
}
.showcaseContent {
    color: #c98390;
    font: 23px museo-sans-300;
    top: 325px;
    position: absolute;
}
.bannerImg {
    left:0px;
    top: 0px;
    height: 1080px;
    width: 1920px;
    position: absolute;
}
.bannerImgText, .bannerImgOverlayText, .bannerImgOverlayContent {
    position: absolute;
}
.bannerImgText {
    top: 0px;
    height: 1080px;
    width: 1920px;
    opacity: 0.7;
    background-color: #000000;
}
.bannerImgOverlayText {
    top: 25px;
    font: 38px museo-sans-500;
    color: #fff;
    left: 35px;
}
.bannerImgOverlayContent {
    top: 77px;
    font: 23px museo-sans-300;
    color: #fff;
    left: 35px;
}
/* Text Section Of News */
.textSection {
    position: absolute;
    left: 740px;
    top: 662px;
    background-color: #e6e6e6;
    height: 378px;
    width: 684px;
}
.textSection .heading {
    margin-left: 35px;
    text-align: left;
}
.textSection .heading1 {
    top: 28px;
    font: 38px museo-sans-500;
    color: #000;
}
.textSection .heading2 {
    top: 70px;
    font: 38px museo-sans-500;
    color: #2e2e2e;
}
.textSection .heading3 {
    top: 167px;
    font: 23px museo-sans-500;
    color: #2e2e2e;
}
.textSection .heading4 {
    top: 212px;
    font: 23px museo-sans-300;
    color: #2e2e2e;
    position: absolute;
}

/* Side Block */
.side {
    left: 1424px;
    top: 40px;
    height: 960px;
    width: 496px;
    position: absolute;
}
.side2 {
    left: 24px;
    top: 40px;
    height: 960px;
    width: 496px;
    position: absolute;
}
.side3 {
    left: 674px;
    top: 40px;
    height: 960px;
    width: 496px;
    position: absolute;
}

/* Commomn Block */
.asideBlock {
    height: 115px;
    width: 416px;
    position: relative;
    margin-left: 40px;
}

/* Pattern 1 - 2 Line */
.asideBlockPattern1C1 {
    top: 31px;
    font: 22px museo-sans-300;
    color: #FFFFFF;
    position: absolute;
    float: right;
}
.asideBlockPattern1C2 {
    top: 70px;
    font: 20px museo-sans-300;
    color: #FFFFFF;
    position: absolute;
    float: left;
}

/* Pattern 2 - 3 Line */
.asideBlockPattern2C1 {
    top: 21px;
    font: 22px museo-sans-300;
    color: #FFFFFF;
    position: absolute;
    float: left;
}
.asideBlockPattern2C2 {
    top: 47px;
    float: left;
    font: 22px museo-sans-300;
    color: #FFFFFF;
    position: absolute;
}
.asideBlockPattern2C3 {
    top: 80px;
    float: left;
    font: 19px museo-sans-300;
    color: #FFFFFF;
    position: absolute;
}

.minmaxtempTitle {
    top: 12px;
    font: 19px museo-sans-300;
    color: #FFFFFF;
    position: absolute;
    float: left;
}
.minmaxtempTitleBorder {
    top: -6px;
    left: -13px;
    color: #FFFFFF;
    position: absolute;
    float: left;
}
.minmaxtempTitle tr:first-child td {
    font-weight: bold;
    text-align: center;
}
.minmaxtempTitle td {
    padding: 4px;
    padding-left: 35px;
}

.minTempArray {
    top: 47px;
    float: left;
    font: 19px museo-sans-300;
    color: #FFFFFF;
    position: absolute;
}
.maxTempArray {
    top: 80px;
    float: left;
    font: 19px museo-sans-300;
    color: #FFFFFF;
    position: absolute;
}
/* Pattern 2 - 3 Line */
.NowPlayingImage {
    left:10px;
    top: 21px;
    font: 22px museo-sans-300;
    height: 200px;
    width: 200px;
    color: #FFFFFF;
    position: absolute;
    float: left;
}

.NowPlaying1 {
     margin-left: 200px;
    top: 21px;
    font: 22px museo-sans-300;
    color: #FFFFFF;
    position: absolute;
    float: left;
}
.NowPlaying2 {
     margin-left: 200px;
    top: 47px;
    float: left;
    font: 22px museo-sans-300;
    color: #FFFFFF;
    position: absolute;
}
.NowPlaying3{
     margin-left: 200px;
    top: 80px;
    float: left;
    font: 22px museo-sans-300;
    color: #FFFFFF;
    position: absolute;
}
.NowPlaying4 {
     margin-left: 200px;
    top: 113px;
    float: left;
    font: 22px museo-sans-300;
    color: #FFFFFF;
    position: absolute;
}
.NowPlayingButtons{
     margin-left: 200px;
    top: 146px;
    float: left;
    font: 36px museo-sans-300;
    color: #FFFFFF;
    position: absolute;
}

/* Pattern 2 - 3 Line */
.ChecklistTitle {
    top: 21px;
    font: 17px museo-sans-300;
    color: #FFFFFF;
    position: absolute;
    float: left;
}
.ChecklistItem1 {
    top: 47px;
    float: left;
    font: 22px museo-sans-300;
    color: #FFFFFF;
    position: absolute;
}
.ChecklistItem2 {
    top: 80px;
    float: left;
    font: 22px museo-sans-300;
    color: #FFFFFF;
    position: absolute;
}
/* Pattern 2 - 3 Line */
.ChecklistItem3 {
    top: 113px;
    font: 22px museo-sans-300;
    color: #FFFFFF;
    position: absolute;
    float: left;
}
.ChecklistItem4 {
    top: 146px;
    float: left;
    font: 22px museo-sans-300;
    color: #FFFFFF;
    position: absolute;
}
.ChecklistItem5 {
    top: 179px;
    float: left;
    font: 22px museo-sans-300;
    color: #FFFFFF;
    position: absolute;
}


/* Pattern 2 - 3 Line */
.DayPlanTitle {
    top: 21px;
    font: 16px museo-sans-300;
    color: #FFFFFF;
    position: absolute;
    float: left;
}
.DayPlanItem1 {
    top: 47px;
    float: left;
    font: 22px museo-sans-300;
    color: #FFFFFF;
    position: absolute;
}
.DayPlanItem2 {
    top: 80px;
    float: left;
    font: 22px museo-sans-300;
    color: #FFFFFF;
    position: absolute;
}
.DayPlanItem3 {
    top: 113px;
    font: 22px museo-sans-300;
    color: #FFFFFF;
    position: absolute;
    float: left;
}
.DayPlanItem4 {
    top: 146px;
    float: left;
    font: 22px museo-sans-300;
    color: #FFFFFF;
    position: absolute;
}
.DayPlanItem5 {
    top: 179px;
    float: left;
    font: 22px museo-sans-300;
    color: #FFFFFF;
    position: absolute;
}

.weatherTodayLogo {
    top: 0px;
    margin-left: 100px;
    font: 105px museo-sans-300;
    color: #FFFFFF;
    position: absolute;
    float: left;
}

.weatherTodayType {
    top: 70px;
    font: 20px museo-sans-300;
    color: #FFFFFF;
    position: absolute;
    float: left;
}
.loginDeGmail{
    font: 20px museo-sans-300;
    color: #FFFFFF;

}
.weatherToday1 {
    margin-left: 70px;
    top: 0px;
    float: left;
    font: 50px museo-sans-300;
    color: #FFFFFF;
    position: absolute;
}
.weatherMin {
    margin-left:340px;
    top: 30px;
    float: left;
    font: 22px museo-sans-300;
    color: #FFFFFF;
    position: absolute;
}
.weatherMax {
    margin-left: 340px;
     margin-top: 60px;
    top: 10px;
    float: left;
    font: 22px museo-sans-300;
    color: #FFFFFF;
    position: absolute;
}

.weatherMinTable {
    margin-left:-10px;
    top: 150px;
    float: left;
    font: 22px museo-sans-300;
    color: #FFFFFF;
    position: absolute;
}
.weatherMaxTable {
    margin-left: -10px;
     margin-top: 40px;
    top: 150px;
    float: left;
    font: 22px museo-sans-300;
    color: #FFFFFF;
    position: absolute;
}
.weatherToday2 {
    top: 47px;
    float: left;
    font: 22px museo-sans-300;
    color: #FFFFFF;
    position: absolute;
}
.weatherToday3 {
    top: 80px;
    float: left;
    font: 22px museo-sans-300;
    color: #FFFFFF;
    position: absolute;
}


.mictext1 {
     margin-left: 140px;
       margin-top: 40px;
    top: 21px;
    font: 22px museo-sans-300;
    color: #FFFFFF;
    position: absolute;
    float: left;
}
.mictext2 {
    margin-left: 140px;
        margin-top: 40px;
    top: 47px;
    float: left;
    font: 22px museo-sans-300;
    color: #FFFFFF;
    position: absolute;
}
.mictext3 {
     margin-left: 140px;
         margin-top: 40px;
    top: 80px;
    float: left;
    font: 22px museo-sans-300;
    color: #FFFFFF;
    position: absolute;
}

.Panel2Content1 {
    top: 5px;
    font: 22px museo-sans-300;
    color: #FFFFFF;
    position: absolute;
    float: left;
}
.Panel2Content2 {
    top: 31px;
    font: 22px museo-sans-300;
    color: #FFFFFF;
    position: absolute;
    float: left;
}
.Panel2Content3 {
    top: 57px;
    font: 22px museo-sans-300;
    color: #FFFFFF;
    position: absolute;
    float: left;
}
.Panel2Content4 {
    top: 83px;
    font: 22px museo-sans-300;
    color: #FFFFFF;
    position: absolute;
    float: left;
}
.clock {
    top: 0px;
    font: 90px museo-sans-300;
    color: #FFFFFF;
    position: absolute;
    float: left;
}

.clockdate {
    top: 85px;
    float: left;
    font: 22px museo-sans-300;
    color: #FFFFFF;
    position: absolute;
}
.Panel2Title {
    top: 45px;
    float: left;
    font: 42px museo-sans-300;
    color: #FFFFFF;
    position: absolute;
}
.Panel2subtitle {
    top: 87px;
    float: left;
    font: 20 museo-sans-300;
    color: #FFFFFF;
    position: absolute;
}

.logonotification {
    top: 21px;
    font: 22px museo-sans-300;
    color: #FFFFFF;
    position: absolute;
    float: left;
}
.logonotification0 {
    top: 76px;
    font: 22px museo-sans-300;
    color: #FFFFFF;
    position: absolute;
    float: left;
}
.logonotification1 {
    top: 21px;
    font: 22px museo-sans-300;
    color: #FFFFFF;
    position: absolute;
    float: left;
}
.logonotification2 {
    top: 76px;
    float: left;
    font: 22px museo-sans-300;
    color: #FFFFFF;
    position: absolute;
}
.logonotification3 {
    top: 126px;
    float: left;
    font: 22px museo-sans-300;
    color: #FFFFFF;
    position: absolute;
}
.logonotification4 {
    top: 176px;
    float: left;
    font: 22px museo-sans-300;
    color: #FFFFFF;
    position: absolute;
}
.notification {
  margin-left: 40px;
    top: 21px;
    font: 22px museo-sans-300;
    color: #FFFFFF;
    position: absolute;
    float: left;
}
.notification0 {
  margin-left: 40px;
    top: 76px;
    font: 22px museo-sans-300;
    color: #FFFFFF;
    position: absolute;
    float: left;
}
.notification1 {
  margin-left: 40px;
    top: 21px;
    font: 22px museo-sans-300;
    color: #FFFFFF;
    position: absolute;
    float: left;
}
.notification2 {
      margin-left: 40px;
    top: 76px;
    float: left;
    font: 22px museo-sans-300;
    color: #FFFFFF;
    position: absolute;
}
.notification3 {
      margin-left: 40px;
    top: 126px;
    float: left;
    font: 22px museo-sans-300;
    color: #FFFFFF;
    position: absolute;
}
.notification4 {
      margin-left: 40px;
    top: 176px;
    float: left;
    font: 22px museo-sans-300;
    color: #FFFFFF;
    position: absolute;
}


.microphoneLogo {
    margin-left: 100px;
    top: 80px;
    float: left;
    font: 50px museo-sans-300;
    color: #FFFFFF;
    position: absolute;
}
/* Side Blocks Seperator Line */
.seperator {
    width: 516px;
    height: 1px;
    background-color: #cccccc;
    position: absolute;
    left: 1364px;
}

/* Side Blocks Seperator Line */
.seperator2 {
    width: 416px;
    height: 1px;
     top: 80px;
    background-color: #cccccc;
    position: absolute;
    left: 64px;
}

.line1 {
    top: 234px;
}
.line2 {
    top: 349px;
}
.line3 {
    top: 464px;
}
.line4 {
    top: 579px;
}
.line5 {
    top: 694px;
}
.line6 {
    top: 809px;
}
.line7 {
    top: 924px;
}
.line8 {
    top: 1039px;
}

